<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Html forms</title>
    <style>
        div
        {
            background-color: coral;
            padding: 10px;
            width: 350px;
        }
    </style>
</head>
<body>
    <div>
        <form>
            <fieldset>
                <legend>Login</legend>
                    <table>
                        <tr>
                        <td><label>Username</label></td>
                        <td><input type="text"/></td>
                    </tr>
                    <tr>
                        <td><label>Password</label></td>
                        <td><input type="Password"></td>
                    </tr>
                    <tr>
                        <td algin="center"colspan="2">
                            <input type="submit"/>
                            <input type="reset"/>
                        </td>
                    </tr>
                </fieldset>
                   </table>
        </form>
    </div>
    <div>
        <label>feedback</label>
        <textarea  cols="22" rows="4"></textarea>
    </div>
    <div>
        <label>select city</label>
        <select>
            <option>..select city..</option>
            <option>Bangalore</option>
            <option>Hyderabad</option>
            <option>Mysore</option>

        </select>
    </div>
    <div>
        <label> Tech skills </label>
        <input type ="Java">Java </input>
        <input type ="Python">Python </input>
        <input type ="HTML">Html </input>
    </div>
</body>
</html>